*{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    font-size: 12px;
}
.flex_logindets{
    display: flex;
    align-items: center;
}
.flex_logindets .loginform{
    width: 50%;
    height: 100vh;
}
.flex_logindets .loginform form{
    width: 60%;
    margin: auto;
    margin-top: 20%;
}
.flex_logindets .loginform form .form-control{
    height: 45px;
}
.form-control{
    border-color: #CED4DA ;
    outline: none !important;
}
#exterror,#error{
    font-size: 10px;
}
.form-group{
    margin-bottom: 15px;
}
.loginimages{
    width: 50%;
    height: 100vh;
    background-image: url(../images/login.jpg);
    background-size: 100% 100%;
}
.clearcard{
    width: 70%;
    margin: auto;
    margin-top: 30%;
    font-size: 23px;
    min-height: 100px;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 5px 5px 8px rgba(255,255,255,0.7);
}
label{
    font-size: 18px;
}
.flex_registration{
    display: flex;
    align-items: center;
}
.registrationform{
    width: 50%;
}
.registrationform form{
    width: 60%;
    margin: auto;
}
.signupimages{
    width: 50%;
    height: 100vh;
    background-image: url(../images/signup.jpg);
    background-size: 100% 100%;
}
.chatbody .container{
    display: flex;
}
.contactsection{
    padding-top: 20px;
    width: 30%;
}
.chatsection{
    padding-top: 20px;
    padding-left: 20px;
    width: 70%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.search form{
    display: flex;
    position: relative;
}
.search form #input{
    width: 100%;
}
.search form #absol{
    position: absolute;
    right: 0;
}
.addchartsec form{
    width: 70%;
    margin: auto;
    display: flex;
    position: relative;
}
.addchartsec form #inputs{
    width: 100%;
}
.addchartsec form #inputs .form-control{
    padding-right: 30px;
}
#messagecontent{
    resize: none;
    height: 45px;
    overflow: hidden;
    background-color: #F5F7FB;
    border: none !important;
    outline: none !important;
}
.addchartsec{
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
}
.addchartsec form #absolu{
    position: absolute;
    right: 0;
}
.addform{
    margin: 20px;
}
#searchitem{
    padding-right: 30px;
}
.chatbody{
    background-color: #F5F7FB;
    height: 100vh;
}
.chatbody .form-control{
    border: none;
}
#addbtn{
    background-color: #1E74F7;
    color: #ffffff;
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}