*{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    font-size: 12px;
}
.flex_logindets{
    display: flex;
    align-items: center;
}
.flex_logindets .loginform{
    width: 50%;
    height: 100vh;
}
.flex_logindets .loginform form{
    width: 60%;
    margin: auto;
    margin-top: 20%;
}
.flex_logindets .loginform form .form-control{
    height: 45px;
}
.form-control{
    border-color: #CED4DA ;
    outline: none !important;
}
#exterror,#error{
    font-size: 10px;
}
.form-group{
    margin-bottom: 15px;
}
.loginimages{
    width: 50%;
    height: 100vh;
    background-image: url(../images/login.jpg);
    background-size: 100% 100%;
}
.clearcard{
    width: 70%;
    margin: auto;
    margin-top: 30%;
    font-size: 23px;
    min-height: 100px;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 5px 5px 8px rgba(255,255,255,0.7);
}
label{
    font-size: 18px;
}
.flex_registration{
    display: flex;
    align-items: center;
}
.registrationform{
    width: 50%;
}
.registrationform form{
    width: 60%;
    margin: auto;
}
.signupimages{
    width: 50%;
    height: 100vh;
    background-image: url(../images/signup.jpg);
    background-size: 100% 100%;
}
.chatbody .container{
    display: flex;
}
.contactsection{
    padding-top: 20px;
    width: 30%;
}
.chatsection{
    padding-top: 20px;
    padding-left: 20px;
    width: 70%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.search form{
    display: flex;
    position: relative;
}
.search form #input{
    width: 100%;
}
.search form #absol{
    position: absolute;
    right: 0;
}
.addchartsec form{
    width: 70%;
    margin: auto;
    display: flex;
    position: relative;
}
.addchartsec form #inputs{
    width: 90%;
}
.addchartsec form #inputs .form-control{
    padding-right: 30px;
}
#messagecontent{
    resize: none;
    height: 45px;
    overflow: hidden;
    background-color: #F5F7FB;
    border: none !important;
    outline: none !important;
}
.addchartsec{
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
}
.addchartsec form #absolu{
    position: absolute;
    right: 0;
}
.addform{
    margin: 20px;
}
#searchitem{
    padding-right: 30px;
}
.chatbody{
    background-color: #F5F7FB;
    height: 100vh;
}
.chatbody .form-control{
    border: none;
}
#addform{
    display: none;
}
.allcontacts{
    margin-top: 20px;
}
#addbtn{
    background-color: #1E74F7;
    color: #ffffff;
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}
#searchitem{
    border-radius: 30px;
    padding-left: 20px;
    height: 45px;
}
#absol{
    margin-top: 10px;
}
#messagecontent{
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
#peperplane{
    font-size: 25px;
    height: 45px;
    width: 45px;
    background-color: #40A387;
    color: #ffffff;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}
.allcontacts .card{
    position: relative;
    min-height: 20px;
}

.card .actions a{
    padding: 7px;
    background-color: #CED4DA;
    border-radius: 4px;
}
.card .actions{
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    display: none;
    transition: 2s;
}
.allcontacts .card:hover .actions{
    display: block;
}
.clearchats{
    text-align: right;
}
#clearchat{
    background-color: #ffffff;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 15px;
}
.allcontacts .card{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #F5F7FB;
}
.flexed{
    display: flex;
    align-items: center;
}
.contact-card .images{
    height: 50px;
    width: 50px;
    text-align: center;
    align-items: center;
    font-size: 23px;
    border-radius: 50%;
}
.contact-card .images img{
    border-radius: 50%;
}
.allcontacts{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
}
.details .number{
    font-size: 14px;
    font-weight: lighter;
}
.singlepchat{
    overflow: hidden;
    height: 63vh;
    max-height: 63vh;
    margin-bottom: 20px;
}
.contact-card a{
    text-decoration: none;
    color: #2F2536;
}