{% extends 'base.html' %}

{% block body %}
<div class="chatbody">
    <div class="container">
        <div class="contactsection">
            <div class="search">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group" id="input">
                        <input type="search" name="searchitem" id="searchitem" class="form-control shadow-none" placeholder="Search">
                    </div>
                    <div class="form-group" id="absol">
                        <button class="btn shadow-none"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="add">
                <div class="addbutton"><button class="btn shadow-none" id="addbtn" style="background-color: #40A387;" onclick="toogleAddContact()"><i class="fa-solid fa-plus"></i></button></div>
                <div class="addform" id="addform">
                    <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="contactname" id="contactname" class="form-control shadow-none" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phonenumber" id="phonenumber" class="form-control shadow-none" placeholder="Enter phone number">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save Contact" class="btn btn-primary shadow-none">
                        </div>
                    </form>
                </div>
            </div>
            <div class="allcontacts">
                {% if contacts %}
                {% for contact in contacts %}
                <div class="card contact-card">
                    <a href="{% url 'startchat' contact.id %}">
                        <div class="flexed">
                            <div class="images">
                                {% load static %}
                                <img src="{% static 'images/user.png' %}" height="100%" width="100%" alt="">
                            </div>
                            <div class="details">
                                <div class="name">{{ contact.contactname }}</div>
                                <div class="number">{{ contact.contact }}</div>
                            </div>
                        </div>
                    </a>
                    <div class="actions">
                        <span class="text-danger"><a href="{% url 'delete' contact.id %}" class="text-danger"><i class="fa-solid fa-trash"></i></a></span>
                        <!-- <span class="text-info"><a href="" class="text-info"><i class="fa-solid fa-pen"></i></a></span> -->
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="chatsection">
            <div class="clearchats"><button class="btn shadow-none" id="clearchat">Clear Chats</button></div>
            <div class="addchartsec">
                <div class="singlepchat">
                   {% if chats %}
                     {% for chat in chats %}
                       {% if chat.sender == sender.contact %}
                        <div class="senderchatcont">
                            <div class="chatcont" id="sender">
                                <div class="chatmess">{{ chat.message }}</div>
                                <div class="chattime">{{ chat.time_sent }}</div>
                            </div>
                        </div>
                      {% else %}
                        <div class="chatcont" id="receiver">
                            <div class="chatmess">{{ chat.message }}</div>
                            <div class="chattime">{{ chat.time_sent }}</div>
                        </div>
                      {% endif %}
                     {% endfor %}
                     {% else %}
                     <div class="nochats">
                         <div class="chatbox">
                             No chats for this contact.
                         </div>
                     </div>
                   {% endif %}
                </div>
                <form action="{% url 'send' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group" id="inputs">
                        <textarea name="messagecontent" id="messagecontent" cols="30" rows="10" class="form-control shadow-none" placeholder="Type message here"></textarea>
                    </div>
                    <div class="form-group" id="absolu">
                        <button class="btn shadow-none" id="peperplane"><i id="icon" class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="text-center">&copy; 2022 chatapp | all rights reserved</div>
    </footer>
</div>
{% endblock %}